$tab-links-height: 30px;
$color-border: #ccc;
.ul-tabs {
  position:relative;
  margin:0;
  padding:0;
  border-left:1px solid $color-border;
  overflow:auto;
  .tab-link {
    display:inline-block;
    float:left;
    > a {
      dislay:inline-block;
      float:left;
      padding:0 10px 0 10px;
      color:#000;
      text-decoration:none;
      border:1px solid $color-border;
      border-left:0;
      height:$tab-links-height;
      line-height:$tab-links-height;
      position:relative;
      z-index:3;

    }
    &.active {
      a {
        border-bottom:1px solid #fff;
      }
    }
  }
  .tab-content {
    position:absolute;
    display:inline-block;
    float:left;
    border:1px solid $color-border;
    margin:0;
    padding:20px;
    top:$tab-links-height + 1px;
    left:-1px;
  }
}


.ul-tabs--arrow {
  .tab-link {
    background: #eee;

    > a {
      font-size: 12px;
    }
    &.active {
      a {
        border-bottom:1px solid $color-border;

        &:after {
          content: '▴';
          display: block;
          position: relative;
          top:-17px;
          font-size:25px;
          left:50%;
          margin-left:-5px;
          color: #fff;
          text-shadow: -1px -1px 1px rgba(0,0,0,.2);
        }
      }
    }
  }
  .tab-content {
  }
}